@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.hero{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(#0d1a18,#0d1a18),url(../new/about/bg.jpg);
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1{
    color: white;
    font-weight: 300;
    font-size: 8rem;
    font-family: 'Open Sans', sans-serif;
}
.h2{
    color: #0d1a18;
    font-weight: 400;
    font-size: 3rem;
    font-family: 'Open Sans';
}
.hr{
    height: 2px;
    width: 400px;
    background-image: linear-gradient(to right,#07300aa8,rgba(255, 255, 255, 0));
}
.journey{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

    align-items: start;
    /* flex-direction: column; */
    padding: 10rem 0 4rem 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    /* border-top-left-radius: 300px; */
    /* background-color: yellow; */
}
.journeyh{
    font-weight: 400;
    margin-bottom: 1rem;
    /* text-decoration: underline; */
}
.headhr
{
    margin-bottom: 3rem;

}
.journey-left{
    width: 50%;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* background-color: cyan; */
}
.p{
    font-size: 1.3rem;
    color: rgb(134, 134, 134);
    font-weight: 300;
}
.journey-right{
    width: 50%;
    height: 50vh;
    background-image: url(img/journey-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: red; */
}
.button{
    padding: 1rem 3rem;
    background-color: #0d1a18;
    border: none;
    outline: none;
    color: white;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
}
.button:hover{
    background-color: #1a332f;
    cursor: pointer;
}
.reverse{
    flex-direction: row-reverse;
}
.imgrev{
    background-position: left;
}
.reversehr{
    background-image:linear-gradient(to left,#07300aa8,rgba(255, 255, 255, 0)); ;
}
.rev{
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
}
.reversep{
    text-align: justify;
    margin-bottom: 4rem;
}
.grow{
    background-image: url(img/grow.jpg);
    /* background-size: ; */
}
.philos{
    background-image: url(img/philos.png);
    /* background-size: ; */
}
.vision{
    background-image: url(img/vision.png);
}
.padding{
    padding: 0 10rem;
}



.offerings{
    width: 100%;
    /* height: 50vh; */
    background-color: #0d1a18;
    padding: 5rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offerings h2{
    color: white;
    font-family: 'open sans';
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 5rem;
}
.offerings-card-section{
    width: 100%;
    height: auto;
    padding: 0rem 10rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.offerings-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 30rem;
    max-width: 30rem;
    margin: 1rem 1rem;
    height: 20rem;
    padding: 2rem 0;
    display: flex;
    /* border-radius: 20px; */
    /* border-right: 1px solid rgba(128, 128, 128, 0.425); */
    transition: all 0.3s ease-in-out;
    /* background-color: red; */

}
.offerings-card:hover{
    scale: 1.01;
    box-shadow: 2px 4px 50px 5px rgba(0, 0, 0, 0.329);
}
/* .offerings-card:hover .card-left{
    background-size: 120%;

} */

.offer{
    margin-top: 3rem;
    color: #07300aa8;
    background-color: white;
    padding: 0.8rem 4rem;
    font-weight: 400;
    font-size: 1.2rem;
}
.offer:hover{
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}
.less{
    margin-top: 1rem;
}
.card-right{
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.068);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-left{
    height: 100%;
    width: 30%;
    background-image: url(img/web.jpg);
    background-size: cover;
    transition: all 0.2s ease-in-out;
}
.card-heading{
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: left;
}
.card-para{
    font-size: 1.1rem;
    color: rgb(216, 216, 216);
    font-weight: 300;
    text-align: justify;
}
.ui{
    background-image: url('img/ui.jpg');
    
}
.seo{
    background-image: url(img/seo.jpg);
    background-position: center;
}


.milestones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: 100%;
    /* background-color: red; */
    padding: 5rem 0;
}
.milestones h1{
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Open Sans';
    /* margin-bottom: 6rem; */
    text-align: center;
    width: 100%;
    /* background-color: yellow; */
}
.milestones h2{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Open Sans';
    margin-bottom: 1.2rem;
    color: rgb(58, 58, 58);
    text-align: center;
}
.milestones p{
    margin-bottom: 2.4rem;
    font-size: 1.5rem;
    color: rgb(58, 58, 58);
    text-align: left;
}
.milestones ul{
    color: rgb(58, 58, 58);
    /* list-style-image: url('../list.png'); */
    
}
.journey ul{
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.mile-wrapper{
    width: 100%;
    padding: 5rem 0rem 5rem 5rem;
    /* height: 50vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.milestones li{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    /* background-size: 20px 20px; */
}.left-mile{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.h5{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.h6{
    font-weight: 400;
    font-size: 1.9rem;
    margin-bottom: 1.7rem;
    color: rgb(29, 29, 29);
}
li{
    font-size: 1.5rem;
    color: rgb(29, 29, 29);
    font-weight: 300;

}
.right-mile{
    background-image: url(img/bgr.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.testimonial{
    height: auto;
    width: 100%;
    background-color: #0d1a18;
    padding: 7rem 2rem;
}
.testimonial h1{
    color: white;
    font-size: 4rem;
    font-family: 'Open sans';
    font-weight: 400;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: start;

    /* background-color: red; */
    flex-wrap: wrap;
}
.test-card{
    /* height: 30redm; */
    color: white;
    max-width: 40rem;
    /* background-color: yellow; */
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 3rem;
    margin: 2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
}
.test-footer-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    /* background-color: cadetblue; */
}
.tfooter-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    align-items: start;
    padding-right: 1rem;
    text-align: left;
    width: 70%;
}
.test-para{
    color: rgb(235, 235, 235);
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 2rem;
}
.name{
    /* background-color: green; */
    width: 100%;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
}
.test-img{
    height: 100px;
    width: 100px;
    background-image: url(../../assets/john.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.star{
    height: 20px;
    width: 100%;
    margin-top: 0.3rem;
    background-image: url(../../assets/5.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    /* background-color: black; */
}
.jane{
    background-image: url(../../assets/jane.jpg);
}
.tim{
    background-image: url(../../assets/tim.jpg);
}




.contact{
    height: auto;
    width: 100%;
    padding: 1rem 8rem 0;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateY(10vh); */
}
/* .footer::after{
    z-index: -1;
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(assets/icons/footer-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transform: translateY(-75vh);
} */
.contact-left{
    height: 70vh;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
    align-items: start;
    border-radius: 20px;
}
.contact-left h1{
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Open Sans';
    text-align: center;
}
.logo:hover{
    cursor: pointer;
}
.contact-left h4{
    width: 80%;
    font-size: 1.3rem;

    color: grey;
    font-weight: 300;
    margin-top: 3rem;

}
#cont{
    margin-top: 1rem;

}
.contact-right{
    height: auto;
    padding: 3rem 0 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
form{
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
form input{
    width: 70%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    font-size: 1.2rem;
    outline: none;
    letter-spacing: 0px;
    font-weight: 400;
}
form textarea{
    width: 70%;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid grey;
    resize: none;
    background-color: transparent;
    font-size: 1.1rem;
    font-size: 1.2rem;
    outline: none;
    letter-spacing: 0px;
    font-weight: 400;
}
.form-reveal{
    color: rgb(44, 44, 44);
}
.button-div{
    width: 70%;
    padding: 2rem 0 0;
    /* background-color: yellow; */
    height: auto;
    display: flex;
    justify-content: center;
}
.button{
    padding: 1rem 4rem;
    margin: 0 0rem;
}
.button:hover{
    background-color: rgb(0, 3, 3);
    cursor: pointer;
}
.margin{
    margin: 0 2rem;
}
/* .ham{
    height: 3rem;
    width: 6rem;
    display: none;
    background-image: url(assets/svg/ham.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */






footer{
    height: 50vh;
    background-color: #0d1a18;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}
.footer-right{
    width: 100%;
    height: auto;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;

    align-items: start;
}
.footer-left{
    width: 40%;
    height: 100%;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}
.footer-card{
    height: 100%;
    width: auto;
    max-width: 18rem;
    margin: 2rem 9rem;
    display: flex;
    flex-direction: column;
}
.footer a{
    color: rgb(194, 194, 194);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin-top: 0.7rem;
    font-size: 1rem;
}
.footer p{
    color: rgb(194, 194, 194);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    margin-top: 0.7rem;
    font-size: 1rem;
}
.footer h5{
    font-size: 1.4rem;
    color: white;
    font-weight: 400;
}
.footer a:hover{
    color: white;
}
.end{
    padding: 1rem;
    font-weight: 300;
    font-family: 'Open Sans';
    border-top: 1px solid rgba(255, 255, 255, 0.062);
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1a18;
}
.contact-head{
    font-size: 1.3rem;
}

