@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 9vh;
    background-color: rgba(255, 255, 255, 0.966);
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 100;
    backdrop-filter: blur(10px);
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(224, 224, 224);
}
::-webkit-scrollbar-thumb{
    background-color: #0d1a18;
    /* background-color: green; */
}
.left{
    height: 100%;
    width: 100px;
    background-image: url(../assets/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    /* background-color: red; */
}
.main-body{
    width: 70rem;
    height: auto;
    /* background-color: yellow; */
    padding: 0rem 4rem;
    margin: auto;
}
.ham{
    display: none;

}
.mobile-menu{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 70%;
    background-color: #0c1816fb;

    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 100000;
}
.mobile-links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.mobile-links{
    /* padding-top: 6rem; */
    /* background-color: yellow; */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}
.mobile-links a{
    width: 120%;
    text-align: center;
    color: white;
    padding: 0rem 4rem;
    text-decoration: none;
    font-family: 'Jost';
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    font-size: 1.3rem;
    /* background-color: yellow; */
    padding: 0;
}
.mobile-links a:hover{
    background-color: #000000;
}
#ham{
    /* display: none; */
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
}
.cross
{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.cross-btn{
    background-image: url(../assets/svg/cross.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    height: 2rem;
    border: none;
}
.main-nav{
    width: 70rem;
    height: auto;
    /* background-color: yellow; */
    padding: 0rem 4rem;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style:none;
}
li{
    padding: 5rem 3rem;
    transition: all 0.2s ease-in-out;
}
li:hover a{
    color: black;
}
li:hover{
    transform: translateY(-2px);

}
li a{
    text-decoration: none;
    font-family: "satoshi bold";
    color: #0d1a18bb;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
}
h4{
    font-family: 'Satoshi Bold';
    font-size: 1.2rem;
    color: green;
    letter-spacing: 2px;
}
h3{
    font-family: 'Satoshi Bold';
    font-size: 2.7rem;
    margin-top: 1rem;
    text-align: left;
}
h2{
    font-family: 'Satoshi Bold';
    font-size: 3rem;
}
p{
    font-family: 'Satoshi light';
    font-size: 1.5rem;
    margin-top: 2rem;
    color: rgb(53, 53, 53);
}
h6{
    font-family: 'Satoshi Bold';
    font-size: 1.3rem;
    color: green;
}
h5{
    font-family: 'Satoshi Bold';
    font-size: 1.6rem;
    margin-top: 1.2rem;
    color: rgb(36, 36, 36);
}
h1{
    font-family: 'Satoshi Bold';
    color: white;
    font-size: 3rem;
}
.button{
    padding: 1rem 2rem;
    background-color: #0d1a18;
    /* background-color: green; */
    border: none;
    color: white;
    font-family: 'Jost';
    margin-top: 4rem;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.089);
    border-radius: 2px;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}
a{
    color: green;
    /* text-decoration: none; */
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    font-weight: bold;
    font-family: 'Satoshi Bold';
}
.button:hover{
    background-color: #123631;
    cursor: pointer;
}
.head::after{
    content: '';
    height: 10rem;
    width: 10rem;
    background-image: url(../services/images/asset.svg);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -4;
    opacity: 0.2;
    /* right: 0; */
    transform: translateX(20rem) translateY(-4rem);
}
.hero{
    height: 80vh;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    border-bottom: 1px solid rgba(63, 63, 63, 0.151);
}
.hero-left{
    width: 60%;
    /* margin-right: 5rem; */
}
.hero-right{
    width: 30%;
    height: 100%;
    background-image: url(../services/images/web-hero.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: float 5s infinite ease-in-out;
}
.web{
    padding: 8rem 0;
    border-bottom: 1px solid rgba(63, 63, 63, 0.288);
}
.offer{
    padding: 8rem 0;
}
.offer-head{
    margin-top: 1rem;
}
.holder{
    width: 100%;
    height: auto;
    padding: 5rem 0;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}
.card{
    margin-right: 3rem;
    margin-bottom: 4rem;
    min-width: 7rem;
}
.quote{
    background-color: #0d1a18;
    background-image: linear-gradient(to right,#0d1a18,#132e2a);
    width: 100%;
    height: auto;
    /* border-radius: 30px; */
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote-btn{
    padding: 1rem 3rem;
    font-family: 'Satoshi Black';
    font-size: 1rem;
    background-color: white;
    margin-top: 4rem;
    color: black;
    border: none;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    
}
.quote-btn:hover{
    /* transform: translateY(-3px); */
    scale: 1.03;
    cursor: pointer;
}

.footer{
    height: 30vh;
    width: 100%;
    /* background-color: red; */
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}